@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.App {
  text-align: center;
}

body {
  background-color: #09203f;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat";
}

h1 {
  color: whitesmoke;
  font-size: 70px;
  font-family: "Kiwi Maru", serif;
}

h2 {
  font-family: "Kiwi Maru", serif;
}

h4 {
  color: #fbae17;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
  font-size: 25px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
.wrapper {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 5px;
  flex: 1;
  flex-basis: 360px;
  flex-grow: 0;
  height: 500px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card:hover h1 {
  color: #fbae17;
  letter-spacing: 1px;
  margin: 0px;
}
.card:hover p {
  line-height: 24px;
  height: 70%;
}
.card:hover button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  border-style: none;
  background-color: #fbae17;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.card:hover button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

label {
  color: whitesmoke;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 750px;
    justify-content: center;
  }

  .nav {
    width: 950px;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    width: 950px;
    justify-content: space-between;
  }

  .nav {
    width: 950px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1280px;
    justify-content: space-between;
  }

  .nav {
    width: 1280px;
  }
}
.search-bar, select {
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
  border-style: none;
  width: 200px;
}
.search-bar:focus, select:focus {
  outline: none;
}

.nav {
  width: 100%;
}

/*# sourceMappingURL=App.css.map */
